@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This is a demo project shows the creation of login/register control of a web application. The project is .Net MVC written in C#. Click SignIn above to start the demonstration.</h3>

</div>

@section Demo
{
    Through out the project, explanation about the functionality is presented like this.
}
 
